.App {
  text-align: center;
}

.toolbar{
  background-color: black;
}

.btn{
  background-color: black !important;
}

.btn:hover{
background-color: azure !important;
color: black;
}

.dashboard-btn{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.studentList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  border: 1px solid black;
  padding: 1rem;
  margin: 2px;
}

.card{
  width: 350px;
  margin-left: 28px;
  border: 1px solid black;
  border-radius: 3px;
}

.card-btn{
  display: flex;
  justify-content: center;
}

.base{
  background: #757F9A;  
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A); 
background: linear-gradient(to right, #D7DDE8, #757F9A);
height : 130vh;
}

.CardContent{
background-color: #D7DDE8;
}

.add-btn{
  margin: 5px;
}


.add-student{
  margin: 10px;
}

.view{
  display: flex;
  justify-content: center;
}